
<div class="wrapper">

	<div class="card" id="{{data._id}}">
		<a href="#">
			<img class="card-img-top poster" src="{{data.poster}}" alt="Card image cap">
		</a> 	
	  <div class="card-body">
	    <h5 class="card-title">{{data.name}}</h5>
	    <button class="btn btn-primary mt-1" id="selectall">Select All Series</button>
	    <button class="btn btn-danger mt-1" id="clearall">Clear</button>
	  </div>
	</div>

	<nav id="seasons">
		
		<div class="nav nav-tabs" id="nav-tab" role="tablist">

			{{#each data.seasons}}

				{{#if @first}}

					<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-{{@index}}" role="tab" aria-controls="nav-1" aria-selected="true"></a>

				{{else}}

					<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-{{@index}}" role="tab" aria-controls="nav-2" aria-selected="false"></a>


				{{/if}}


			{{/each}}

		</div>

		<div class="tab-content" id="nav-tabContent">

			{{#each data.seasons}}

				{{#if @first}}

				<div class="tab-pane fade show active" id="nav-{{@index}}" role="tabpanel" aria-labelledby="nav-home-tab">

					<table>
						
						<thead>
							<tr>
								<td><input type="checkbox" class="header" name=""></td>
								<td>Sezon</td>
								<td>Bölüm</td>
								<td>Bölüm Adı</td>
							</tr>
						</thead>
						<tbody>
							{{#each this.episodes}}

								<tr>
									<td><input type="checkbox" name=""></td>
									<td>{{@index}}.</td>
									<td>{{@index}}.</td>
									<td>{{this.name}}</td>
								</tr>

							{{/each}}

						</tbody>


					</table>

				</div>

				{{else}}

				<div class="tab-pane fade" id="nav-{{@index}}" role="tabpanel" aria-labelledby="nav-home-tab">

					<table>
						
						<thead>
							<tr>
								<td><input type="checkbox" class="header"  name=""></td>
								<td>Sezon</td>
								<td>Bölüm</td>
								<td>Bölüm Adı</td>
							</tr>
						</thead>
						<tbody>
							{{#each this.episodes}}

								<tr>
									<td><input type="checkbox" name=""></td>
									<td>1.</td>
									<td>1.</td>
									<td>{{this.name}}</td>
								</tr>

							{{/each}}

						</tbody>


					</table>

				</div>


				{{/if}}

			{{/each}}

		</div>

				
	</nav>
	


</div>


<script>
	// index episodes and seasons
	(function indexHeader()
	{

		let list = document.getElementById("nav-tab").children;

		for(let i=0; i<list.length; i++)
			list[i].innerText = Number(i+1);

	})();

	(function indexEpisodes()
	{
		let seasons = document.querySelectorAll('[role="tabpanel"]');

		for(let i=0; i<seasons.length; i++)
		{
			let episodes = seasons[i].children[0].children[1].children;
			for(let j=0; j<episodes.length; j++)
			{
				episodes[j].children[1].innerText = String(i+1); //season
				episodes[j].children[2].innerText = String(j+1); //episode

			}
		}

	})();

	// Loading checked episodes to frontpage
	let node = document.querySelector(".card");
	console.log(node.id);

	fetch(`/api/series/${node.id}`)
	.then(response => response.json())
	.then(data => {

		console.log(data);
		saveCheckedEpisodes(data.seasons);

	})
	.catch(e => console.log(e));



	// Send changes to server
	let tables = document.querySelectorAll("table");


	tables.forEach(item => {

		item.addEventListener("change", () => {

			sendToDb();

		})

	})


	function sendToDb()
	{
		fetch("/api/user")
		.then(response => response.json())
		.then(data => {

			let send = {};
			send.episodes = getEpisodes();
			send.seriesId = document.querySelector(".card").id;

			//gets user id
			fetch(`../user/track/${data.id}`, {
				method: "POST",
				headers: {
					'Content-Type': 'application/json'
					// 'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: JSON.stringify(send)


			})

		})


	}

	function getEpisodes()
	{
		let result = [];
		let tables = document.querySelectorAll("tbody");
		for(let i=0; i<tables.length; i++)
		{
			result.push([]);
			let episodes = tables[i].children;
			for(let j=0; j<episodes.length; j++)
			{
				result[i].push(episodes[j].children[0].children[0].checked);
			}
		}

		return result;
	}


	function saveCheckedEpisodes(data)
	{
		console.log(data);

		let tables = document.querySelectorAll("tbody");

		for(let i=0; i<tables.length; i++)
		{
			let episodes = tables[i].children;
			for(let j=0; j<episodes.length; j++)
			{
				if(data[i].episodes[j].checked == true)
				{
					console.log(i, j);
					episodes[j].children[0].children[0].checked = true;
				}
			}
		}
	}


	function selectAllSeason()
	{
		let checkbox = document.querySelectorAll("thead tr td input");
		let tables = document.querySelectorAll("table");
		console.log(checkbox);

		console.log(tables);

		for(let i=0; i<checkbox.length; i++)
		{
			checkbox[i].addEventListener("click", () => {

				let episodes = tables[i].children[1].children;

				if(checkbox[i].checked)
				{				
					for(let j=0; j<episodes.length; j++)
					{
						episodes[j].children[0].children[0].checked = true;
					}
				}else
				{
					for(let j=0; j<episodes.length; j++)
					{
						episodes[j].children[0].children[0].checked = false;
					}
				}

			})

		}

	}

	function selectAllSeries()
	{
		let add = document.getElementById("selectall");
		let remove = document.getElementById("clearall");
		let tables = document.querySelectorAll("table");

		add.addEventListener("click", () => {

			let tables = document.querySelectorAll("table");

			for(let i=0; i<tables.length; i++)
			{
				let episodes = tables[i].children[1].children;
				for(let j=0; j<episodes.length; j++)
				{
					episodes[j].children[0].children[0].checked = true;
				}
			}

			sendToDb();

		})	

		remove.addEventListener("click", () => {

			for(let i=0; i<tables.length; i++)
			{
				let episodes = tables[i].children[1].children;
				for(let j=0; j<episodes.length; j++)
				{
					episodes[j].children[0].children[0].checked = false;
				}
			}

			sendToDb();

		})

	}


	selectAllSeason();
	selectAllSeries();

</script>